# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
.venv/
env/
venv/

# Poetry files
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.pytest_cache/
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / Editor settings
.idea/
.vscode/
*.swp
*.swo
*.DS_Store

# System-specific files
Thumbs.db
.DS_Store
